.container{
    float: right;
}
mat-sidenav{
    background-color: #FFE6C2;
    width: 12rem;
    
}
a {
    position: relative;
    color: #F79C1B;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
  }
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #F79C1B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }